@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-image: linear-gradient(to bottom, blue,rgb(8, 8, 161));
    min-width: 150px;
    max-height: 250px;
    padding-top: 20px;
    padding-bottom: 1px;
}
header img{
    max-width: 150px;
    display: block;
    margin-right: auto;
    margin-left: auto;

}
header h1{
    color: white;
    font-size: min(2.5em, 4.5vw);
    font-weight: bolder;
    text-align: center;
    margin-bottom: 15px;
}
nav{
    padding: 2px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.404);
}
nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: min(1em, 2.3vw);
    padding: 5px;
}
nav a:hover{
    background-color: rgba(1, 1, 87, 0.678);
    color: yellow;
    border-radius: 3px;
    transition-duration: 0.3s;
}
body{
    background-color: rgb(255, 229, 182);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main p{
    margin: 3px 0px;
    text-align: justify;
    text-indent: 7px;
    line-height: 2em;
    font-size: min(1em, 2.8vw);
}
main h2{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: min(1.5em, 5vw);
    font-weight: bold;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 25%;
    position: relative;
}
.slide img{
    width: 800px;
}
.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid rgb(250, 248, 248);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}
#radio4:checked ~ .first{
    margin-left: -75%;
}
.navigation-auto div{
    border: 2px solid blue;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}
.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: rgb(251, 251, 252);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: rgb(251, 251, 252);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: rgb(251, 251, 252);
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: rgb(251, 251, 252);
}